@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form{
        @apply border
    }
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}