@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form{
        @apply border
    }
}

.center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
